/* CSS declarations go here */

.graph-container {
	width: 50%;
}

#login-buttons {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * Main content
 */

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Sub-header dashboard ideas
 */

.sub-header {
  text-align: center;
  margin-bottom: 30px;
}

.sub-header-button {
  color: #333;
}

.sub-header-button button {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  box-shadow: 1px 1px 1px #d8d8d8;
}