<template name="dashboard">
	 <div class="col-sm-12 col-md-12 main dashboard">
      {{#if currentUser}}
        <h1>Hello, {{user}}</h1>
      {{/if}}
          <h2 class="page-header">Dashboard</h2>

          <div class="row sub-header">
            <div class="col-xs-6 col-sm-4">
              <a class="sub-header-button" href="/visCreate"><button>
                <i class="fa fa-plus-square fa-4x"></i>
                <h4>Create Vis</h4>
              </button></a>
            </div>
            <div class="col-xs-6 col-sm-4">
              <a class="sub-header-button" href=""><button>
                <i class="fa fa-eye fa-4x"></i>
                <h4>Vis</h4>
              </button></a>
            </div>
            <div class="col-xs-6 col-sm-4 placeholder">
              <a class="sub-header-button" href=""><button>
                <i class="fa fa-line-chart fa-4x"></i>
                <h4>Grovis</h4>
              </button></a>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                {{#each visi}}
                  {{> vis}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
</template>

<template name="vis">
  <tr>
    <td>{{title}}</td>
    <td>{{createdAt}}</td>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
</template>