<template name="home">
	<h1>Landing</h1>
</template>

<template name="graph">
	<div class="graph-container">
		<div class="ct-chart ct-perfect-fourth"></div>
	</div>
	<script type="text/javascript">
		var data = {
			// A labels array that can contain any sort of values
			labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
			// Our series array that contains series objects or in this case series data arrays
			series: [
			[5, 2, 4, 2, 0]
			]
		};

		var options = {
			showPoint: false,
		}

		// Create a new line chart object where as first parameter we pass in a selector
		// that is resolving to our chart container element. The Second parameter
		// is the actual data object.
		new Chartist.Line('.ct-chart', data, options);
	</script>
</template>